#outer
		{
			width: 700px;
			height: 800px;
			//border: 1px solid black;
			margin: auto;
		}
		#head
		{
			height: 200px;
			width:700px;
			//border:1px solid black;
		}
		#circle
		{
			height: 150px;
			width: 150px;
			margin-top: 38px;
			margin-bottom: 10px;
			//border: 1px solid black;
			border-radius: 150px 150px 0px 150px;
			float: left;
			background: #3A788D;
		}
		#circle2
		{
			margin-bottom: 10px;
			height: 150px;
			width: 150px;
			margin-top: 38px;
			margin-left: 10px;
			//border: 1px solid black;
			border-radius: 150px 150px 150px 0px;
			float: left;
			background: #A6D0C4;
		}
		#text
		{
			float: right;
			margin-top: 50px;
		}
		#text1
		{
			float: left;
			margin-top: 55px;
		}
		#head2
		{
			height: 150px;
			width:700px;
			//border:1px solid black;
		}
		#circle3
		{
			//margin-bottom: 10px;
			height: 150px;
			width: 150px;
			//margin-top: 38px;
			//margin-left: 10px;
			//border: 1px solid black;
			border-radius: 150px 0px 150px 150px;
			float: left;
			background-color: #A6D0C4;
			color: white;
		}
		#circle4
		{
			//margin-bottom: 10px;
			height: 150px;
			width: 150px;
			//margin-top: 38px;
			margin-left: 10px;
			//border: 1px solid black;
			border-radius: 0px 150px 150px 150px;
			float: left;
			background: #3B788B;
			color: white;
		}
		#ok
		{
			height: 150px;
			width: 150px;
			float: left;
			background: #38798B;
		}
		#okk
		{
			height: 150px;
			width: 550px;
			float: left;
			background-size:550px 150px;
			background-image:url('cloud.jpg');

		}
		#head3
		{
			height: 50px;
			float: left;
			width: 700px;
			background-color: #93BDB3;
		}
		#cut1
		{
			height: 50px;
			width: 150px;
			float: left;

		}
		#cut2
		{
			height: 50px;
			float: left;
			width: 550px;
			//border: 1px solid black;
			background-color: #3A788D;

		}
		#body
		{
			height: 395px;
			width: 150px;
			float: left;
			color: black;
			background: #A3CFC2;
		}
		#main
		{
			height: 395px;
			width: 550px;
			float: left;

		}
		#up
		{
			
			//border: 1px solid black;
			height: 200px;
			width: 550px;
			
		}
		#part1
		{
			float: left;
			height: 200px;
			width: 153px;
			margin-left: 15px;
		}
		#part2
		{
			margin-left:  15px;
			float: left;
			height: 200px;
			width: 153px;
		}
		#part3
		{
			margin-left: 15px;
			float: left;
			height: 200px;
			width: 153px;
		}
		#down
		{
			height: 30px;
			width: 550px;

			border: 1px solid white;
			background-color: #CDE2DD;
		}
		#down1
		{
			display: block;
			margin-left: 15px;
			margin-top: 10px;
			font-size: 20px;
		}


















